<?xml version="1.0" encoding="utf-8" ?>
<suite name="jixianAutoTest" parallel="false">

    <test name="直播管理测试">
        <classes>
            <class name="scene.SignTest"></class>
            <class name="scene.LiveTest"></class>
            <class name="scene.AdTest"></class>
        </classes>
    </test>
    <test name="电视广播管理测试">
        <classes>
            <class name="channel.TvprogramTest"></class>
            <class name="channel.RadioProgramTest"></class>
            <class name="channel.ChoiceprogramTest"></class>
            <class name="channel.ProguidTest"></class>
        </classes>
    </test>
    <test name="媒体号管理测试">
        <classes>
            <class name="mp.MediaManageTest"></class>
            <class name="mp.MediaShareTest"></class>
            <class name="mp.MediaContentTest"></class>
            <class name="mp.LiveManageTest"></class>
            <class name="mp.PaiPaiManageTest"></class>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>